<% provide(:title, 'Courses') %>
<h1>Courses Offered</h1>
<p><span style="color:red">(This is the Course Offering page, might need some more info or modifications for hyperlinking a specific course so the user can land on S&R page with the prefiltered course name)</span><br />
<ul>
	<li>MATLAB Fundamentals</li>
	<li>MATLAB Fundamentals for Oil & Gas</li>
	<li>MATLAB Advanced Online</li>
</ul>
</p>
