<% provide(:title, 'Schedule & Register') %>
<h1>Schedule & Register</h1>
<p> <span style="color:red">(This is the actual S&R page)</span><br /><br />
This page lets you add the training classes to the cart and processing of the payments.
</p>