<% provide(:title, 'Training') %>
<h1>Training Overview</h1>
<p><span style="color:red">(This is the Training Overview page)</span><br /><br />
	This page is a training overview page. which educates the user about the training formats that we have and also about the corporate training blah blah...
</p>
